# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias
node_modules/

# Compilación
dist/
dist-ssr/

# Variables de entorno
.env
.env.*
!.env.example

# Archivos locales
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Visual Studio
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?